.botao{
    background: #6278f7;
    padding: 1.75rem 1.81rem;
    width: 10.4375rem;
    height: 5rem;
    border-radius: 0.625rem;
    box-sizing: border-box;
    border: none;
    font-size: 1.25rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.botao:hover{
    color: #95FFD4;
}